// =============================================================================
// =VaiKai - Base Layout
// =============================================================================

@import "aleksi/lengths/convert";

/* =Layout
 * ========================================================================== */

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6,
ul, ol, dd,
p, figure,
pre, table, fieldset, hr {
  margin-top: 0;
  margin-bottom: convert-length($base-spacing-vertical, 'rem');
}