// =============================================================================
// =VaiKai - Base Typography
// =============================================================================

@import "aleksi/lengths/convert";

/* =Typography
 * ========================================================================== */

html {
  font-size: percentage($base-font-size/16px);
  font-family: $font-family-base;
  line-height: strip-unit(convert-length($base-line-height, 'em'));
}

/* =Headings
 * -------------------------------------------------------------------------- */

%hN {
  font-family: 'itc-avant-garde', Helvetica Neue, sans-serif;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  @extend %hN;
}