// =============================================================================
// =HIDE UTIL
// =============================================================================

@import "shift";
@import "config/breakpoints";
@import "shift/breakpoint";

// =settings
// -----------------------------------------------------------------------------
$hide-breakpoints: 's' 'sm' 'm' 'l' 'xl';

/* =hide
 * -------------------------------------------------------------------------- */

.hide { display: none; }

/* =<bp>-hide/<bp>-show
 * -------------------------------------------------------------------------- */

@each $bp in $hide-breakpoints
{
  @include shift('>#{$bp}') {
    .#{$bp}-hide { display: none; }
  }

  @include shift('<#{$bp}') {
    .#{$bp}-show { display: none; }
  }
}
