// =============================================================================
// =UTILS - INLINE
// =============================================================================

@import "shift";
@import "config/breakpoints";

// =settings
// -----------------------------------------------------------------------------
$inline-breakpoints: ();

/* =inline
 * -------------------------------------------------------------------------- */

.line > *,
.inline {
  display: inline-block;
}

/* =<bp>-inline
 * -------------------------------------------------------------------------- */

@each $bp in $ir-breakpoints
{
  @include shift('>#{$bp}')
  {
    .#{$bp}-line > *,
    .#{$bp}-inline {
      display: inline-block;
    }
  }
}

