// =============================================================================
// =UTILS - NONE
// =============================================================================

@import "shift";
@import "config/breakpoints";

// =settings
// -----------------------------------------------------------------------------
$inline-breakpoints: ();

/* =inline
 * -------------------------------------------------------------------------- */

.none {
  display: none;
}

/* =<bp>-inline
 * -------------------------------------------------------------------------- */

@each $bp in $ir-breakpoints
{
  @include shift('>#{$bp}')
  {
    .#{$bp}-none {
      display: none;
    }
  }
}
