// =============================================================================
// =VaiKai - Layout config
// =============================================================================

@import "aleksi/lengths/convert";
@import "config/typography";

// =Grid
// -----------------------------------------------------------------------------
$layout-columns: 12;
$layout-gutter: 20px;
$layout-gutter-m: 40px;

// =vertical spacing
// -----------------------------------------------------------------------------
$base-spacing-vertical: typescale-line-height('base', 'px');
// $base-spacing-vertical: typescale-font-size('base', 'px');

// =ratios
// -----------------------------------------------------------------------------

$ratios: (
  '16by9': 960px 540px,
  '3by2': 600px 400px,
  '1by1': 960px 960px,
  'illu': 220px 160px,
  'couple': 640px 820px
);