// =============================================================================
// =VaiKai - Layout config
// =============================================================================

@import "aleksi/lengths/convert";
@import "aleksi/lists/set-list-separator";
@import "aleksi/maps/debug-map";
@import "config/typography";

// =Grid
// -----------------------------------------------------------------------------
$layout-columns: 12;
$layout-gutter: 20px;
$layout-gutter-m: 40px;

// =vertical spacing
// -----------------------------------------------------------------------------
$base-spacing-vertical: typescale-line-height('base', 'px');
// $base-spacing-vertical: typescale-font-size('base', 'px');

// =ratios
// -----------------------------------------------------------------------------

// import image ratios
@import "data/image-ratios.json";

$ratios: map-merge($image-ratios, (
  '16by9': 1200 675,
  '3by2': 1200 800,
  '1by1': 1400 1400,
  'illu': 220 160,
  'duo': 640 820,
  'couple': 275 260
));