// =============================================================================
// =VaiKai - Layout config
// =============================================================================

@import "aleksi/lengths/convert";
@import "config/typography";

// =Grid
// -----------------------------------------------------------------------------
$layout-columns: 12;
$layout-gutter: 20px;
$layout-gutter-m: 40px;

// =vertical spacing
// -----------------------------------------------------------------------------
$base-spacing-vertical: convert-length($base-line-height, 'px');

// =ratios
// -----------------------------------------------------------------------------