// =============================================================================
// =VaiKai - Typography congif
// =============================================================================

// =Fonts
// =============================================================================

$webfonts-src-path: '../fonts';
$webfonts: (
  'itc-avant-garde': (
    normal 500,
  )
);

// =Typesetting
// =============================================================================

$font-size-root: 16px;

$base-font-size: 18px;
$base-line-height: 1.5;
$font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;