// =============================================================================
// =VaiKai - Typography congif
// =============================================================================

// =Fonts
// =============================================================================

$webfonts-src-path: '../fonts';
$webfonts: ();
$fonts: ();

// =Typesetting
// =============================================================================

$font-size-base: 16px;
$line-height-base: 1.5;