// =============================================================================
// =VaiKai - Typography congif
// =============================================================================

// =Fonts
// -----------------------------------------------------------------------------
$webfonts-src-path: '../fonts';
$webfonts: (
  'itc-avant-garde': (
    normal 400,
    normal 500,
  )
);

$iconfonts: 'vaikai-icons';

// =Units
// -----------------------------------------------------------------------------
$font-size-unit: 'rem';
$line-height-unit: null;

// =Font-stacks
// -----------------------------------------------------------------------------

// http://www.cssfontstack.com/Arial
$arial-font-stack: Arial, "Helvetica Neue", Helvetica, sans-serif;

// http://www.cssfontstack.com/Helvetica
$helvetica-font-stack: "Helvetica Neue",Helvetica, Arial, sans-serif;

// OSX - http://www.cssfontstack.com/Geneva
// WIN - http://www.cssfontstack.com/Franklin-Gothic-Medium
$verlag-font-stack: "Verlag A", "Verlag B", Geneva, "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Tahoma, Verdana, Arial, sans-serif;

// (TODO: Check for fallback fonts...)
$avant-garde-font-stack: "itc-avant-garde", "Helvetica Neue", Helvetica, sans-serif;

// =Typescale
// -----------------------------------------------------------------------------

  // "epsilon" : 24px 30px,

$typescale: (
  "giga"    : 74px 68px,
  "mega"    : 60px 56px,
  "kilo"    : 46px 50px,

  "alpha"   : 38px 48px,
  "beta"    : 34px 40px,
  "gamma"   : 28px 34px,
  "delta"   : 26px 32px,

  "epsilon" : 22px 28px,
  "zeta"    : 20px 27px,

  "base"    : 18px 26px,
  "micro"   : 16px 22px,
  "nano"    : 14px 17px
);