// =============================================================================
// =VaiKai - Chunk Module
// =============================================================================

@import "aleksi/lengths/convert";

// =settings
// -----------------------------------------------------------------------------
$chunk-max-width: 1240px;
$chunk-max-width: 1120px;
$chunk-max-width-narrow: 1120px;
$chunk-gutter: 20px;
$chunk-gutter-s: 40px;

/* =chunk
 * -------------------------------------------------------------------------- */

.chunk {
  position: relative;
}

.chunk-inner {
  width: 100%;
  max-width: $chunk-max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: convert-length($chunk-gutter, 'em');
  padding-right: convert-length($chunk-gutter, 'em');

  @include shift('>s') {
    padding-left: convert-length($chunk-gutter-s, 'em');
    padding-right: convert-length($chunk-gutter-s, 'em');
  }

  .chunk--bleed &,
  .chunk--fullbleed & {
    max-width: none;
  }

  .chunk--fullbleed & {
    padding: 0;
  }

  .chunk--narrow & {
    max-width: $chunk-max-width-narrow;
  }

}