// =============================================================================
// =VaiKai - Credit Module
// =============================================================================

// =settings
// -----------------------------------------------------------------------------

$credit-logo-spacing: 10px;
$credit-name-font-family: $avant-garde-font-stack;
$credit-name-font-weight: 400;

/* =credit
 * -------------------------------------------------------------------------- */


.credit-logo
{
  transition: opacity 0.35s ease-out;
  margin-bottom: convert-length($credit-logo-spacing, 'em');
  opacity: 1;

  a:hover & {
    opacity: 0.65;
  }
}

.credit-name {
  @extend .fullcaps;
  font-family: $credit-name-font-family;
  font-weight: $credit-name-font-weight;
  text-decoration: none;
}