// =============================================================================
// =VaiKai - Credit Module
// =============================================================================

// =settings
// -----------------------------------------------------------------------------

$credit-logo-spacing: 10px;
$credit-name-font-weight: 400;

$credit-font-family-mention: $avant-garde-font-stack;
$credit-font-family-quote: $georgia-font-stack;

/* =credit
 * -------------------------------------------------------------------------- */

.credit-logo
{
  transition: opacity 0.35s ease-out;
  margin-bottom: convert-length($credit-logo-spacing, 'em');
  opacity: 1;

  a:hover & {
    opacity: 0.65;
  }
}

.credit-name {
  text-decoration: none;
  font-weight: $credit-name-font-weight;
}

.mention-credit .credit-name {
  @extend .fullcaps;
  font-family: $credit-font-family-mention;
}

.quote-credit {
  font-family: $credit-font-family-quote;
}
.quote-credit .credit-name,
.quote-credit .credit-description {
  font-style: italic;
  // font-family: inherit;
}

.quote-credit:before {
  content: "— ";
}

.quote-credit .credit-name:after {
  content: ", ";
}