// =============================================================================
// =VaiKai - Expand Module
// =============================================================================

@import "shift/breakpoint";

/* =expand
 * -------------------------------------------------------------------------- */

.expand-body
{
  transition: height 500ms linear;
  overflow: hidden;

  &.has-slider + .expand-ctrls {
    display: none;
  }
}

.expand-item
{
  .is-collapsed & {
    display: none;
  }

  .no-js &, &.expand-summary {
    display: inline-block;
  }
}