// =============================================================================
// =VaiKai - Form Module
// =============================================================================

@import "config/colors";
@import "elements/input";

// =settings
// -----------------------------------------------------------------------------

$form-group-spacing: 50px;
$form-group-spacing-m: 30px;
$form-field-spacing: 10px;

/* =form
 * -------------------------------------------------------------------------- */

.form-group {
  margin: 0 0 convert-length($form-group-spacing, 'rem') 0;
}

.form-field {
  margin: 0 0 convert-length($form-field-spacing, 'rem') 0;
}