// =============================================================================
// =VaiKai - Form Module
// =============================================================================

@import "config/colors";
@import "elements/input";

// =settings
// -----------------------------------------------------------------------------

$form-group-spacing: 30px;
$form-group-spacing-m: 50px;
$form-field-spacing: 15px;

/* =form
 * -------------------------------------------------------------------------- */

.form-group {
  margin: 0 0 convert-length($form-group-spacing, 'rem') 0;
}

.form-field {
  margin: 0 0 convert-length($form-field-spacing, 'rem') 0;
}

@include shift('>m')
{
  .form-group {
    margin-bottom: convert-length($form-group-spacing-m, 'rem');
  }
}