// =============================================================================
// =VaiKai - Grid Modules
// =============================================================================

@import "tools/layout";

// =settings
// -----------------------------------------------------------------------------

$grid-gutter: 20px;
$grid-gutter-m: 40px;

/* =grid
 * -------------------------------------------------------------------------- */

.grid {
  @extend .ws-collapse;
  @include bleed($grid-gutter);
}

.grid--middle:before,
.grid--bottom:before {
  content: " ";
  display: inline-block;
  height: 100%;
}

.grid--middle
{
  &:before,
  .grid-cell {
    vertical-align: middle;
  }
}

.grid--bottom
{
  &:before,
  .grid-cell {
    vertical-align: bottom;
  }
}


/* =grid-cell
 * -------------------------------------------------------------------------- */

.grid-cell
{
  @extend .ws-reset;

  display: inline-block;
  vertical-align: top;
  width: 100%;
  @include gutter($grid-gutter);

  &.landmark {
    margin-bottom: 0;
  }
}