// =============================================================================
// =VaiKai - Split Module
// =============================================================================

@import "aleksi/lengths/convert";
@import "shift/breakpoint";
@import "modules/grid";
@import "config/base";

// =settings
// -----------------------------------------------------------------------------
$split-inner-max-width: 1120px;
$split-gutter: 20px;
$split-gutter-s: 40px;
$split-breakpoints: 'm';

/* =split
 * -------------------------------------------------------------------------- */

.split
{
  letter-spacing: -0.31em;
  text-rendering: optimizeSpeed;
  font-family: sans-serif;

  &:before {
    content: "";
    height: 100%;
  }
}

.split:before,
.split-body,
.split-object {
  display: inline-block;
  vertical-align: middle;
}

.split-object,
.split-body {
  width: 100%;
  letter-spacing: normal;
  text-rendering: auto;
  font-family: $base-font-family;
}

.split-object
{
  text-align: center;
  line-height: 0;

  > * {
    display: inline-block;
    width: 100%;
    height: auto;
  }
}

.split-body
{
  padding-left: 0.5 * convert-length($split-gutter, 'rem');
  padding-right: 0.5 * convert-length($split-gutter, 'rem');

  @include shift('>s')
  {
    padding-left: 0.5 * convert-length($split-gutter-s, 'rem');
    padding-right: 0.5 * convert-length($split-gutter-s, 'rem');
  }
}

/* =split--<align>
 * -------------------------------------------------------------------------- */

.split--left { direction: ltr; }
.split--right { direction: rtl; }

.split--left,
.split--right
{
  .split-body,
  .split-object {
    direction: ltr;
  }
}

/* =split--<balance>
 * -------------------------------------------------------------------------- */

.split--even,
.split--uneven
{
  &.split--left .split-object {
    text-align: right;
    padding-right: 0.5 * convert-length($split-gutter, 'rem');
  }

  &.split--right .split-object {
    text-align: right;
    padding-left: 0.5 * convert-length($split-gutter, 'rem');
  }
}

.split--even
{
  .split-object,
  .split-body {
    width: percentage(6/12);
  }

  .split-body {
    max-width: (6/12) * $split-inner-max-width;
  }
}

.split--uneven
{
  .split-object {
    width: percentage(4/12);
  }

  .split-body {
    width: percentage(8/12);
    max-width: (8/12) * $split-inner-max-width;
  }
}

/* =<bp>-split--<balance>
 * -------------------------------------------------------------------------- */

@each $bp in $split-breakpoints
{
  @include shift('>#{$bp}')
  {
    .#{$bp}-split--even,
    .#{$bp}-split--uneven
    {
      &.split--left .split-object {
        text-align: right;
        padding-right: 0.5 * convert-length($split-gutter-s, 'rem');
      }

      &.split--right .split-object {
        text-align: right;
        padding-left: 0.5 * convert-length($split-gutter-s, 'rem');
      }
    }

    .#{$bp}-split--even
    {
      .split-object,
      .split-body {
        width: percentage(6/12);
      }

      .split-body {
        max-width: (6/12) * $split-inner-max-width;
      }
    }

    .#{$bp}-split--uneven
    {
      .split-object {
        width: percentage(5/12);
      }

      .split-body {
        width: percentage(7/12);
        max-width: (7/12) * $split-inner-max-width;
      }
    }
  }
}