// =============================================================================
// =VaiKai - Thumbnail Module
// =============================================================================

@import "config/layout";

/* =thumb
 * -------------------------------------------------------------------------- */

.thumb {
  max-width: 400px;
  margin: 20px auto;
}

.thumb-object {
  margin-bottom: $base-spacing-vertical;
}