// =============================================================================
// =VaiKai - Avakai-Duo Object
// =============================================================================

@import "shift/breakpoint";
@import "tools/layout";
@import "config/breakpoints";

// =settings
// -----------------------------------------------------------------------------

$avk-dimensions-trunc: 289px 549px;
$avk-dimensions-base-front: 289px 186px;
$avk-dimensions-base-back: 289px 22px;
$avk-dimensions-natural: 207px 504px;
$avakai-base-overlap-height: 42px;
$avakai-base-back-overlap-height: 13px;

$avk-preorder-height: 380px;
$avk-preorder-height-sm: 620px;
$avk-dimensions-duo: 820px 640px;

$avk-duo-height: 440px;
$avk-duo-height-sm: 600px;
$avk-duo-height-m: 740px;

/* =avk-<image>
 * -------------------------------------------------------------------------- */

.avk-trunc,
.avk-base-front,
.avk-base-back,
.avk-natural {
  // fix ratio when 'img' get's wrappped inside a 'picture' element
  // by responsive images' polyfill
  // - 'img' should be positioned absolutely, not 'picture'
  > picture { position: static; }
  > picture > img { @include cover; }
}

.avk-trunc { @include aspect-ratio($avk-dimensions-trunc); }
.avk-base-front { @include aspect-ratio($avk-dimensions-base-front); }
.avk-base-back { @include aspect-ratio($avk-dimensions-base-back); }
.avk-natural { @include aspect-ratio($avk-dimensions-natural); }

/* make trunc and base overlap */
.avk-trunc {
  $trunc-width: nth($avk-dimensions-trunc, 1);
  $trunc-offset: percentage($avakai-base-overlap-height/$trunc-width);
  margin-bottom: -1 * $trunc-offset;
}

/* base-front and make base-back overlap */
.avk-base-back {
  $base-back-width: nth($avk-dimensions-base-back, 1);
  $base-back-offset: percentage($avakai-base-back-overlap-height/$base-back-width);
  margin-bottom: -1 * $base-back-offset;
}

/* =avk-treasure
 * -------------------------------------------------------------------------- */

.avk-treasure,
.avk-treasure .avk-star {
  /* make '%' translates relative to avk dimensions */
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.avk-treasure
{
  .star-one {
    // bottom: 38%; /* (95 + 190)/702 */
    bottom: 25%; /* (95 + 100)/702 */
    left: 32%; /* 15/289 */
    // transform: translate3d(6%, 7%, 0);
  }

  .star-two {
    // bottom: 42%; /* (125 + 190)/702 */
    bottom: 30%; /* (125 + 100)/702 */
    left: 21.5%; /* 10/289 */
    // transform: translate3d(12%, 8%, 0);
  }

  .star-three {
    // bottom: 44%; /* (140 + 190)/702 */
    bottom: 33%; /* (140 + 100)/702 */
    left: 64%; /* 10/289 */
    // transform: translate3d(-20%, 13%, 0);
  }

  .star-four {
    // bottom: 40%; /* (115 + 190)/702 */
    bottom: 28%; /* (115 + 100)/702 */
    left: 68%; /* 60/289 */
    // transform: translate3d(-20%, 8%, 0);
  }

  .star-five  {
    // bottom: 45%; /* (145 + 190)/702 */
    bottom: 32%; /* (145 + 100)/702 */
    left: 40.4%; /* 30/289 */
    // transform: translate3d(-4%, 11%, 0);
  }

  .star {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

/* layer images in correct order */
.avk-trunc { z-index: 3; }
.avk-base-front { z-index: 2; }
.avk-treasure { z-index: 1; }
.avk-base-back { z-index: 0; }

/* =avk-duo
 * -------------------------------------------------------------------------- */

.avk-duo
{
  position: relative;
  height: $avk-duo-height;

  @include shift('>sm') {
    height: $avk-duo-height-sm;
  }

  @include shift('>m') {
   height: $avk-duo-height-m;
  }
}

.avk-duo-lead {
  position: absolute;
  z-index: 2; /* in front of 'avk-duo-lead' */
  right: 5%;
  bottom: -30px;
  width: 125%;
  max-width: 190px;
}

.avk-duo-follow {
  position: absolute;
  z-index: 1; /* behind 'avk-duo-lead' */

  /* show only on larger screens */
  visibility: hidden;
}

@include shift('>sm')
{
  .avk-duo-lead {
    bottom: -50px;
    right: 35%;
    width: 240px;
    max-width: none;
  }

  .avk-duo-follow {
    right: 0;
    bottom: -30px;
    width: 180px;

    /* gets on stage! */
    visibility: visible;
  }
}

@include shift('>m')
{
  .avk-duo-lead {
    // right: 27%;
    right: 45%;
    width: 290px;
  }

  .avk-duo-follow {
    // right: 3%;
    right: 5%;
    width: 210px;
  }
}
