// =============================================================================
// =VaiKai - LazyObject Widget
// =============================================================================

// =settings
// -----------------------------------------------------------------------------

$lazy-object-loader: 'vaikai-flickr';

/* =js-lazyobj
 * -------------------------------------------------------------------------- */

.js-lazyobj
{
  @extend .ratio;
  display: inline-block;
  background: none center no-repeat transparent;

  &.is-loading
  {
    background-image: url('../images/#{$lazy-object-loader}.svg');

    .no-svg & {
      background-image: url('../images/#{$lazy-object-loader}.gif');
    }
  }
}