// =============================================================================
// =VaiKai - Object Fit Widget
// =============================================================================

/* =js-objfit
 * -------------------------------------------------------------------------- */

/* object dimensions are handled with js */
.has-objfit {
  width: auto;
  max-width: none;
  height: auto;
  max-height: none;
}