// =============================================================================
// =VaiKai - Object Fit Widget
// =============================================================================

/* =js-objfit
 * -------------------------------------------------------------------------- */

/* object dimensions are handled with js */
.has-objfit img,
.has-objfit video,
img.has-objfit,
video.has-objfit
{
  max-width: none;
  max-height: none;
  width: auto;
  height: auto;
}