// =============================================================================
// =VaiKai - Slider Widget
// =============================================================================

@import "widgets/cycler";

/* =js-slider / direction-nav
 * --------------------------------------------------------------------------
 * 1. position control nav links on top of slides, on sides in the middle
 * 2. represent control nav links with icons
 */

.js-slider.has-flexslider {
  position: relative; /* 1 */
}

.js-slider .flex-viewport {
  z-index: 1;
}

.js-slider
{
  .flex-direction-nav {
    @extend .js-cycler-direction-nav;
  }

  .flex-prev,
  .flex-next
  {
    &.flex-disabled {
      opacity: 0.5; /* 2 */
      pointer-events: none; /* 2 */
    }
  }

  .flex-prev {
    @extend .js-cycler-prev;
  }

  .flex-next {
    @extend .js-cycler-next;
  }
}
