// =============================================================================
// =EPI-ICON
// =============================================================================

@import "aleksi/lengths/convert";
@import "config/base";
@import "elements/icon";

// =settings
// -----------------------------------------------------------------------------
$epi-icon-size: $icon-size;
$epi-icon-gutter: $base-line-height;

/* =epi-icon
 * -------------------------------------------------------------------------- */

.epi-icon
{
  @extend %icon-core;
  display: block;
  margin-bottom: convert-length($epi-icon-gutter, 'rem');

  &:before {
    font-size: convert-length($epi-icon-size, 'em');
  }
}
