// =============================================================================
// =HLIST ELEMENT
// =============================================================================

// =settings
// -----------------------------------------------------------------------------

$hlist-air: 5px;

/* =hlist
 * -------------------------------------------------------------------------- */

.hlist
{
  padding: 0;
  list-style: none;

  > *
  {
    @extend .inline;
    margin-right: convert-length($hlist-air, 'rem');

    > :last-child {
      margin-right: 0;
    }
  }

}
