// =============================================================================
// =ICON
// =============================================================================

// =settings
// -----------------------------------------------------------------------------

$icon-font-family: 'vaikai-icons';
$icon-sizes: (
  'md': 44px,
  'lg': 80px
);

$glyph-icon-close: "\e900";
$glyph-icon-menu: "\e905";
$glyph-icon-facebook-fill: "\e901";
$glyph-icon-facebook: "\e902";
$glyph-icon-instagram-fill: "\e903";
$glyph-icon-instagram: "\e904";
$glyph-icon-pinterest: "\e906";
$glyph-icon-send: "\e907";
$glyph-icon-twitter-fill: "\e908";
$glyph-icon-twitter: "\e909";
$glyph-icon-youtube: "\e90a";

/* =icon
 * -------------------------------------------------------------------------- */

.icon {
  display: inline-block; // allow setting fixed width
  font-family: $icon-font-family;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  font-size: 2em;
  line-height: 0.5 !important;
  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* =icon--<glyph>
 * -------------------------------------------------------------------------- */

.icon--close:before { content: $glyph-icon-close }
.icon--facebook-fill:before { content: $glyph-icon-facebook-fill; }
.icon--facebook:before { content: $glyph-icon-facebook; }
.icon--instagram-fill:before { content: $glyph-icon-instagram-fill; }
.icon--instagram:before { content: $glyph-icon-instagram; }
.icon--menu:before { content: $glyph-icon-menu; }
.icon--pinterest:before { content: $glyph-icon-pinterest; }
.icon--send:before { content: $glyph-icon-send; }
.icon--twitter-fill:before { content: $glyph-icon-twitter-fill; }
.icon--twitter:before { content: $glyph-icon-twitter; }
.icon--youtube:before { content: $glyph-icon-youtube; }

/* =icon--<size>
 * -------------------------------------------------------------------------- */

@each $sz, $font-size in $icon-sizes
{
  .icon--#{$sz} {
    font-size: convert-length($font-size, 'em');
  }
}
