// =============================================================================
// =ICON-LINK
// =============================================================================

@import "elements/icon";

// =settings
// -----------------------------------------------------------------------------
$icon-link-color-active: null;
$icon-link-background-active: null;
$icon-link-opacity-active: 0.5;
$icon-link-transition-active: none;

/* =icon-link
 * -------------------------------------------------------------------------- */

.icon-link
{
  transition: $icon-link-transition-active;
  color: inherit;

  &:hover, &:active {
    color: $icon-link-color-active;
    background-color: $icon-link-background-active;
  }
}
