// =============================================================================
// =VaiKai - Incog Element
// =============================================================================

/* =incog
 * -------------------------------------------------------------------------- */

.incog {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  color: inherit;
}