// =============================================================================
// =VaiKai - Landmark Element
// =============================================================================

@import "aleksi/lengths/convert";

// =settings
// -----------------------------------------------------------------------------
$landmark-spacing: 25px;
$landmark-spacing-sm: 35px;

/* =landmark
 * -------------------------------------------------------------------------- */

.landmark
{
  margin-top: convert-length($landmark-spacing, 'rem');
  margin-bottom: convert-length($landmark-spacing, 'rem');

  @include shift('>sm') {
    margin-top: convert-length($landmark-spacing-sm, 'rem');
    margin-bottom: convert-length($landmark-spacing-sm, 'rem');
  }

  // &:first-child, > :first-child { margin-top: 0; }
  // &:last-child, > :last-child { margin-bottom: 0; }
}