// =============================================================================
// =LINK
// =============================================================================

/* =link-quiet
 * -------------------------------------------------------------------------- */

.link-quiet {
  color: inherit;
}

/* =link-reset
 * -------------------------------------------------------------------------- */

.link-reset
{
  &, &:focus, &.focus, &:hover, &:active, &.active {
    color: inherit;
  }
}

/* =link-back
 * -------------------------------------------------------------------------- */

.link-back {
  font-family: $avant-garde-font-stack;
  font-size: typescale-font-size('zeta', 'rem');
  font-weight: 400;
}
