// =============================================================================
// =LOGO
// =============================================================================

@import "sassy-maps";

// =settings
// -----------------------------------------------------------------------------

$logos: (
  'vaikai': (
    'size': 67px 55px,
    'type': 'svg'
  ),
  'fastcompany': (
    'size': 158px 38px,
    'type': 'jpg'
  ),
  'core77': (
    'size': 102px 36px,
    'type': 'png'
  ),
  'psfk': (
    'size': 37px,
    'type': 'png'
  )
);

$logo-sizes: (
  'vaikai': (
    'md': 105px 86px,
    'lg': 144px 118px
  )
);

/* =logo
 * -------------------------------------------------------------------------- */

.logo {
  @extend .ir;
  display: inline-block;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

/* =logo--<brand>
 * -------------------------------------------------------------------------- */

@each $brand, $settings in $logos
{
  $dimen: map-get($settings, 'size');
  $type: map-get($settings, 'type');
  $w: nth($dimen, 1);
  $h: if(length($dimen) >= 2, nth($dimen, 2), $w);

  .logo--#{$brand}
  {
    width: convert-length($w, 'rem');
    height: convert-length($h, 'rem');
    background-size: convert-length($w, 'rem') convert-length($h, 'rem');

    @if ($type == 'svg')
    {
      background-image: url('../images/logo-#{$brand}.svg');

      .no-svg & {
        background-image: url('../images/logo-#{$brand}.png');
      }
    }

    @else {
      background-image: url('../images/logo-#{$brand}.#{$type}');
    }

  }
}

/* =logo--<size>
 * -------------------------------------------------------------------------- */

@each $brand, $sizes in $logo-sizes
{
  @each $sz, $dimen in $sizes
  {
    $type: map-get-deep($logos, $brand, 'type');
    $w: nth($dimen, 1);
    $h: if(length($dimen) >= 2, nth($dimen, 2), $w);

    .logo--#{$brand}.logo--#{$sz}
    {
      width: convert-length($w, 'rem');
      height: convert-length($h, 'rem');
      background-size: convert-length($w, 'rem') convert-length($h, 'rem');

      @if ($type == 'svg')
      {
        .no-svg & {
          background-image: url('../images/logo-#{$brand}-#{$sz}.png');
        }
      }

      @else {
        background-image: url('../images/logo-#{$brand}-#{$sz}.#{$type}');
      }
    }
  }
}