// =============================================================================
// =VaiKai - Poster Element
// =============================================================================

/* =poster
 * -------------------------------------------------------------------------- */

.poster {
  z-index: 0 !important; /* place in the back if applied on positioned element */
  background: none no-repeat center center transparent;
  background-size: cover;
}