// =============================================================================
// =PRE-ICON
// =============================================================================

@import "aleksi/lengths/convert";
@import "elements/icon";

// =settings
// -----------------------------------------------------------------------------
$pre-icon-size: 26px;
$pre-icon-gutter: 8px;

/* =pre-icon
 * -------------------------------------------------------------------------- */

.pre-icon {
  @extend %icon-core;
  margin-right: convert-length($pre-icon-gutter, 'rem');

  &:before {
    font-size: convert-length($pre-icon-size, 'em');
    // line-height: $base-line-height * ($pre-icon-size/$base-font-size);
  }
}