// =============================================================================
// =VaiKai - ShoutOut Element
// =============================================================================

@import "aleksi/lengths/convert";
@import "tools/typography";

// =settings
// -----------------------------------------------------------------------------
$shout-out-font-family: $avant-garde-font-stack;
$shout-out-font-size: typescale-font-size('zeta');
$shout-out-font-size-s: typescale-font-size('epsilon');
$shout-out-font-size-m: typescale-font-size('delta');

/* =shoutout
 * -------------------------------------------------------------------------- */

.shoutout {
  font-family: $shout-out-font-family;
  font-size: convert-length($shout-out-font-size, 'em');

  @include shift('>s') {
    font-size: convert-length($shout-out-font-size-s, 'em');
  }

  @include shift('>m') {
    font-size: convert-length($shout-out-font-size-m, 'em');
  }

}