// =============================================================================
// =VaiKai - Star Element
// =============================================================================

@import "config/colors";
@import "elements/icon";

// =settings
// -----------------------------------------------------------------------------

$star-size: 30px;
$star-sizes: (
  "sm": 24px,
  "md": 42px,
  "lg": 60px
);

$star-colors: (
  'white': $white,
  'yellow': $yellow
);

/* =star
 * -------------------------------------------------------------------------- */

.star {
  @extend %icon-core;
  @extend .icon--star;
  font-size: convert-length($star-size, 'rem');
}

/* =star--<color>
 * -------------------------------------------------------------------------- */

@each $color, $val in $star-colors
{
  .star--#{$color} {
    color: $val;
  }
}

/* =star--<size>
 * -------------------------------------------------------------------------- */

@each $sz, $font-size in $star-sizes
{
  .star--#{$sz} {
    font-size: convert-length($font-size, 'rem');
  }
}
