// =============================================================================
// =gray THEME
// =============================================================================

@import "config/colors";

// =settings
// -----------------------------------------------------------------------------
$gray-theme-color: $base-text-color;
$gray-theme-background: $light-gray;
$gray-theme-input-background-active: $white;

/* =theme-gray
 * -------------------------------------------------------------------------- */

.theme-gray
{
  color: $gray-theme-color;
  background-color: $gray-theme-background;

  .input:focus {
    background: $gray-theme-input-background-active;
  }
}
