// =============================================================================
// =GREEN THEME
// =============================================================================

@import "config/colors";

// =settings
// -----------------------------------------------------------------------------
$green-theme-color: $white;
$green-theme-background: $green;
$green-theme-link-color-active: $dark-blue;

$green-theme-input-border: 2px solid transparent;
$green-theme-input-border-active: 1px solid $dark-green;
$green-theme-input-background: darken($mid-green, 5%);
$green-theme-input-background-active: darken($mid-green, 2%);
$green-theme-input-placeholder-color-active: darken($dark-green, 3%);

$green-theme-quote-sign-color: $white;
$green-theme-slider-bullet-color: $light-gray;
$green-theme-slider-bullet-color-active: $yellow;

/* =theme-green
 * -------------------------------------------------------------------------- */

.theme-green
{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: $green-theme-color;
  background: $green-theme-background;

  // a {
  //   &:hover, &:active, &.focus {
  //     color: $green-theme-link-color-active;
  //   }
  // }

  %hN {
    color: inherit;
  }

  .input {
    border: $green-theme-input-border;
    background: $green-theme-input-background;
  }

  .input:focus {
    border: $green-theme-input-border-active;
    background: $green-theme-input-background-active;
  }

  .input:focus::-webkit-input-placeholder { color: $green-theme-input-placeholder-color-active; opacity: 1; }
  .input:focus:-moz-placeholder { color: $green-theme-input-placeholder-color-active; opacity: 1; }
  .input:focus::-moz-placeholder { color: $green-theme-input-placeholder-color-active; opacity: 1; }
  .input:focus:-ms-input-placeholder { color: $green-theme-input-placeholder-color-active; opacity: 1; }

  .quote:before {
    color: $green-theme-quote-sign-color;
  }

  .js-slider-control-nav a
  {
    &:after {
      background: $green-theme-slider-bullet-color;
    }

    &:hover:after,
    &.js-slider-active:after {
      background: $green-theme-slider-bullet-color-active;
    }
  }
}
