// =============================================================================
// =YELLOW THEME
// =============================================================================

@import "config/colors";

// =settings
// -----------------------------------------------------------------------------
$yellow-theme-color: $white;
$yellow-theme-background: $yellow;
$yellow-theme-input-background-active: $mid-yellow;

$yellow-theme-input-border: 1px solid transparent;
$yellow-theme-input-border-active: 1px solid $dark-yellow;
$yellow-theme-input-background: $mid-yellow;
$yellow-theme-input-background-active: lighten($mid-yellow, 1%);
$yellow-theme-input-placeholder-color-active: darken($dark-yellow, 10%);

$yellow-theme-quote-sign-color: inherit;
$yellow-theme-slider-bullet-color: $light-gray;
$yellow-theme-slider-bullet-color-active: $blue;

/* =theme-yellow
 * -------------------------------------------------------------------------- */

.theme-yellow
{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $yellow-theme-color;
  background-color: $yellow-theme-background;

  %hN {
    color: inherit;
  }

  .input {
    border: $yellow-theme-input-border;
    background: $yellow-theme-input-background;
  }

  .input:focus {
    border: $yellow-theme-input-border-active;
    background: $yellow-theme-input-background-active;
  }

  .input:focus::-webkit-input-placeholder { color: $yellow-theme-input-placeholder-color-active; opacity: 1; }
  .input:focus:-moz-placeholder { color: $yellow-theme-input-placeholder-color-active; opacity: 1; }
  .input:focus::-moz-placeholder { color: $yellow-theme-input-placeholder-color-active; opacity: 1; }
  .input:focus:-ms-input-placeholder { color: $yellow-theme-input-placeholder-color-active; opacity: 1; }


  .quote:before {
    color: $yellow-theme-quote-sign-color;
  }

  .js-slider-control-nav a {
    background: $yellow-theme-slider-bullet-color;

    &.js-slider-active {
      background: $yellow-theme-slider-bullet-color-active;
    }
  }
}
