// =============================================================================
// =VaiKai - Base Styles
// =============================================================================

@import "aleksi/lengths/convert";
@import "shift/breakpoint";

@import "tools/typography";
@import "config/layout";
@import "config/base";

/* =general
 * -------------------------------------------------------------------------- */

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: percentage($root-font-size/16px);

  color: $base-text-color;
  background: $base-background-color;

  font-size: percentage(16px/16px);

  // reduce font-size and spacing on small screens
  @media (max-width: 27.5em) {
    font-size: percentage(16/18); // we want 'base' font-size to equal 16px
  }

  @include shift('>xxl') {
    font-size: percentage(20/18); // we want 'base' font-size to equal 22px
  }
}

body {
  margin: 0;
  @include typescale('base', 16px);
}

h1, h2, h3, h4, h5, h6,
ul, ol, dd,
p, figure,
pre, table, fieldset, hr {
  margin-top: 0;
  margin-bottom: convert-length($base-spacing-vertical, 'rem');
}

/* =links
 * -------------------------------------------------------------------------- */

a {
  color: $base-link-color;
  text-decoration: inherit;

  &:hover, &:active, &.active {
    color: $base-link-color-active;
  }
}

/* =images
 * -------------------------------------------------------------------------- */

img {
  max-width: 100%;
}

/* =headings
 * -------------------------------------------------------------------------- */

%hN {
  font-family: $base-heading-font-family;
  font-weight: $base-heading-font-weight;
  text-rendering: optimizeLegibility;
  color: $base-heading-color;
}

h1, .h1 { @extend %hN; @extend .alpha; }
h2, .h2 { @extend %hN; @extend .gamma; }
h3, .h3 { @extend %hN; @extend .delta; }
h4, .h4 { @extend %hN; @extend .epsilon; }
h5, .h5 { @extend %hN; @extend .zeta; }
h6, .h6 { @extend %hN; @extend .base; }

@include shift('>s')
{
  h1, .h1 { @extend .s-kilo; }
  h2, .h2 { @extend .s-beta; }
  h3, .h3 { @extend .s-gamma; }
  h4, .h4 { @extend .s-delta; }
  h5, .h5 { @extend .s-epsilon; }
  h6, .h6 { @extend .s-zeta; }
}

@include shift('>sm')
{
  h1, .h1 { @extend .sm-mega; }
  h2, .h2 { @extend .sm-alpha; }
}

@include shift('>m')
{
  h1, .h1 { @extend .m-giga; }
  h2, .h2 { @extend .m-kilo; }
  h3, .h3 { @extend .m-beta; }
  h4, .h4 { @extend .m-gamma; }
  h5, .h5 { @extend .m-delta; }
  h6, .h6 { @extend .m-epsilon; }
}

@include shift('>l')
{
  // h2, .h2 { @extend .l-mega; }
  h3, .h3 { @extend .l-alpha; }
}

/* =smallprint
 * -------------------------------------------------------------------------- */

small, .small,
.smallprint {
  @include typescale-font-size('nano');
}

@include shift('>s')
{
  .smallprint {
    @extend .s-micro;
  }

  small, .small,
  .smallprint {
    @include typescale-font-size('micro');
  }
}

// fix nested <small> elements
.smallprint small {
  font-size: 1em;
}


/* =strong
 * -------------------------------------------------------------------------- */

strong {
  font-weight: inherit;
  text-decoration: underline;
}

/* =figure
 * -------------------------------------------------------------------------- */

figure {
  margin-left: 0;
  margin-right: 0;
}

/* =blockquote
 * -------------------------------------------------------------------------- */

blockquote {
  margin: 0;
}
