// =============================================================================
// =VaiKai - Shame Stylesheet
// =============================================================================

@import "aleksi/lengths/convert";
@import "shift/breakpoint";

@include shift('<m')
{
  .menu-social .menu-item
  {
    margin-right: convert-length(10px, 'rem');

    &:last-child {
      margin-right: 0;
    }
  }
}

@include shift('>m')
{
  .menu-main .menu-link {
    text-transform: lowercase;
  }
}

@include shift('l')
{
  #intro .h1 {
    white-space: nowrap;
  }
}

#reaction .ratio-16by9 {
  max-width: none;
}

.cover-object {
  min-width: 0 !important;
  max-width: none !important;
}

.page-footer {
  overflow: hidden;
  position: relative;
}

.js-video--vimeo {
  width: 10000px !important;
  max-width: 100% !important;
}

.popup-close
{
  &:focus, &:hover, &:active {
    color: $white !important;
  }
}

.copy {
  max-width: 48rem;
}

.theme-yellow   .credit {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

#features-expand .thumb-object img {
  max-width: 220px;
}

#about-quote
{
  &:before { display: none; }
  .quote-text p:first-child:before { content: '“'; }
  .quote-text p:last-child:after { content: '”'; }
}

#open-positions article .landmark
{
  margin-top: 30px;
  margin-bottom: 30px;

  @include shift('>s') {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

#open-positions article .byline {
  font-weight: 400;
  // color: $mid-gray;
}

.credit--alt
{
  // margin-top: convert-length(20px, 'rem');
  font-family: $helvetica-font-stack;

  .credit-name,
  .credit-description {
    display: inline;
    font-weight: 300;
  }

  .credit-name {
    font-family: inherit;
    text-transform: none;
    letter-spacing: normal;

    &:before { content: "— "; }
    &:after { content: ", "; }
  }

  .credit-description {
    font-size: inherit;
  }
}

.js-carousel-img,
.js-slider-img {
  display: block;
  width: 100%;
}

.flex-viewport .mention {
  margin-bottom: 0;
}
