/* =============================================================================
 * =VaiKai - Company Stylesheet
 * ========================================================================== */

@import "config";
@import "aleksi/lengths/convert";
@import "shift/breakpoint";

// =settings
// -----------------------------------------------------------------------------
$company-intro-height: 440px;
$company-intro-height-sm: 600px;
$company-intro-height-m: 740px;

/* =Intro
 * ========================================================================== */

#intro
{
  // repsonsive background
  @include shift('<m') { background-image: url(../images/company/founders-medium.jpg); }
  @include shift('<s') { background-image: url(../images/company/founders-small.jpg); }
  background-image: url(../images/company/founders-large.jpg);

  // responsive height
  .intro:before {
    min-height: $company-intro-height;
  }

  @include shift('>sm')
  {
    .intro:before {
      min-height: $company-intro-height-sm;
    }
  }

  @include shift('>m')
  {
    .intro:before {
      min-height: $company-intro-height-m;
    }
  }
}

/* =Craftsmanship
 * ========================================================================== */

.avk-float {
  position: relative;
  margin-top: -25%;
  width: 80%;
  max-width: 450px;
}

.avk-float-img {
  margin-top: 40%;
}

@include shift('>sm')
{
  .avk-float {
    position: absolute;
    right: -15%;
    top: 10%;
    width: 110%;
    max-width: 450px;
    // margin-top: 0;
  }
}

@include shift('>m')
{
  .avk-float {
    right: -10%;
    top: 15%;
    width: 100%;
  }
}

@include shift('>l')
{
  .avk-float {
    width: 70%;
    top: 20%;
    right: 0;
  }
}

@include shift('>xl')
{
  .avk-float {
    top: convert-length(140px, 'rem');
    margin-top: convert-length(-180px, 'rem');
  }
}

/* =Outro
 * ========================================================================== */

#outro
{
  padding-top: convert-length(30px, 'rem');

  @include shift('>sm')
  {
    padding-top: convert-length(70px, 'rem');
  }
}
