/* =============================================================================
 * =VaiKai - Company Stylesheet
 * ========================================================================== */

@import "config";
@import "aleksi/lengths/convert";
@import "shift/breakpoint";

// =settings
// -----------------------------------------------------------------------------
$company-intro-height: 500px;
$company-intro-height-sm: 600px;
$company-intro-height-m: 740px;

/* =Intro
 * ========================================================================== */

#intro
{
  text-shadow: 1px 1px 0 rgba(0,0,0,0.05); // fart + pirates

  // repsonsive background
  @include shift('<s')
  {
    background-image: url(../images/company/founders-small.jpg);

    .intro-body {
     vertical-align: top;
    }
  }

  @include shift('>s <sm') {
    background-image: url(../images/company/founders-medium.jpg);
    background-position: center center;
  }
  @include shift('>sm') {
    background-image: url(../images/company/founders-large.jpg);
    background-position: center center;
  }

  // responsive height
  .intro:before {
    min-height: $company-intro-height;
  }

  @include shift('>sm')
  {
    .intro:before {
      min-height: $company-intro-height-sm;
    }
  }

  @include shift('>m')
  {
    .intro:before {
      min-height: $company-intro-height-m;
    }
  }
}

/* =Craftsmanship
 * ========================================================================== */

.avk-float
{
  position: relative;
  padding-bottom: 100%;

  .ratio,
  img {
    width: 100% !important;
  }
}

.avk-float-front {
  position: absolute;
  left: 5%;
  bottom: 0;
  width: 70%;
  max-width: none;

  img {
    margin-top: 40%;
  }
}

.avk-float-back {
  position: absolute;
  right: 0;
  top: -25%;
  width: 80%;

  img {
    margin-left: 47.5%;
  }
}

@include shift('>sm')
{
  .avk-float {
    position: static;
    padding: 0;
  }

  .avk-float-front {
    left: 5%;
    width: 80%;
    max-width: 360px;
  }

  .avk-float-back {
    top: 0;
    width: 92%;
    max-width: 370px;
  }
}

@include shift('>m')
{
  .avk-float-front
  {
    left: 5%;

    img {
      margin-top: 50%;
    }
  }

  .avk-float-back
  {
    width: 100%;
    max-width: 400px;
  }
}

@include shift('>l')
{
  .avk-float-front {
    left: 10%;
    width: 100%;
    max-width: 400px;
  }
}

@include shift('>xl')
{
  .avk-float-front {
    left: 17.5%;
    width: 120%;
    max-width: 450px;
  }

  .avk-float-back
  {
    top: -10%;
    width: 120%;
    max-width: 450px;

    img {
      margin-left: 50%;
    }
  }
}

@include shift('>xxl')
{
  .avk-float-front {
    left: convert-length(30px, 'rem');
  }

  .avk-float-back {
    top: 5%;
    left: convert-length(290px, 'rem');
    right: auto;
    width: 100%;
    max-width: 400px;

    img { margin-left: 0; }
  }
}

/* =Outro
 * ========================================================================== */

#outro
{
  padding-top: convert-length(30px, 'rem');

  @include shift('>sm')
  {
    padding-top: convert-length(70px, 'rem');
  }
}
