/* =============================================================================
 * =VaiKai - Index stylesheet
 * ========================================================================== */

@import "shift/breakpoint";
@import "tools/layout";
@import "config/breakpoints";

/* =Intro
 * ========================================================================== */

// =settings
// -----------------------------------------------------------------------------

$avk-duo-height: 500px;
$avk-duo-height-sm: 600px;
$avk-duo-height-m: 740px;

$avk-dimensions-trunc: 289px 549px;
$avk-dimensions-base-front: 289px 186px;
$avk-dimensions-base-back: 289px 22px;
$avk-dimensions-natural: 207px 504px;
$avakai-base-overlap-height: 42px;
$avakai-base-back-overlap-height: 13px;

$avk-preorder-height: 380px;
$avk-preorder-height-sm: 620px;
$avk-dimensions-duo: 820px 640px;

/* =avk-<image>
 * -------------------------------------------------------------------------- */

.avk-trunc,
.avk-base-front,
.avk-base-back,
.avk-natural {
  // fix ratio when 'img' get's wrappped inside a 'picture' element
  // by responsive images' polyfill
  // - 'img' should be positioned absolutely, not 'picture'
  > picture { position: static; }
  > picture > img { @include cover; }
}

.avk-trunc { @include aspect-ratio($avk-dimensions-trunc); }
.avk-base-front { @include aspect-ratio($avk-dimensions-base-front); }
.avk-base-back { @include aspect-ratio($avk-dimensions-base-back); }
.avk-natural { @include aspect-ratio($avk-dimensions-natural); }

/* make trunc and base overlap */
.avk-trunc {
  $trunc-width: nth($avk-dimensions-trunc, 1);
  $trunc-offset: percentage($avakai-base-overlap-height/$trunc-width);
  margin-bottom: -1 * $trunc-offset;
}

/* base-front and make base-back overlap */
.avk-base-back {
  $base-back-width: nth($avk-dimensions-base-back, 1);
  $base-back-offset: percentage($avakai-base-back-overlap-height/$base-back-width);
  margin-bottom: -1 * $base-back-offset;
}

/* =avk-treasure
 * -------------------------------------------------------------------------- */

.avk-treasure {
  position: absolute;
  z-index: 3;
  bottom: 190px;
  left: 0;
  right: 0;

  .star {
    position: absolute;
    bottom: 0;
  }

  /* position stars somewhere in the middle */
  .star-one {
    margin-left: 40%;
    top: -95px;
    left: -15px;
  }

  .star-two {
    margin-left: 25%;
    top: -125px;
    left: -10px;
  }

  .star-three {
    margin-left: 50%;
    top: -140px;
    left: 45px;
  }

  .star-four {
    margin-left: 50%;
    top: -115px;
    left: 60px;
  }

  .star-five  {
    margin-left: 30%;
    top: -145px;
    left: 30px;
  }
}

/* layer images in correct order */
.avk-trunc { z-index: 3; }
.avk-base-front { z-index: 2; }
.avk-treasure { z-index: 1; }
.avk-base-back { z-index: 0; }

/* =Intro
 * ========================================================================== */

/* =avk-duo
 * -------------------------------------------------------------------------- */

.avk-duo {
  position: relative;
  height: $avk-duo-height;

  @include shift('>sm') {
    height: $avk-duo-height-sm;
  }

  @include shift('>m') {
   height: $avk-duo-height-m;
  }
}

.avk-duo-lead {
  position: absolute;
  z-index: 2; /* in front of 'avk-duo-lead' */
  right: 5%;
  bottom: -30px;
  width: 125%;
  max-width: 190px;
}

.avk-duo-follow {
  position: absolute;
  z-index: 1; /* behind 'avk-duo-lead' */

  /* show only on larger screens */
  visibility: hidden;
}

@include shift('>sm')
{
  .avk-duo-lead {
    bottom: -50px;
    right: 35%;
    width: 240px;
    max-width: none;
  }

  .avk-duo-follow {
    right: 0;
    bottom: -30px;
    width: 180px;

    /* gets on stage! */
    visibility: visible;
  }
}

@include shift('>m')
{
  .avk-duo-lead {
    right: 45%;
    width: 290px;
  }

  .avk-duo-follow {
    right: 5%;
    width: 210px;
  }
}

/* =Pre-order
 * ========================================================================== */

/* =avk-limiteded
 * -------------------------------------------------------------------------- */

.avk-limiteded {
  position: relative;
}

.stamp--limiteded {
  top: 50%;
  left: 0;
  width: convert-length(120px, 'em');
  margin-left: convert-length(-40px, 'em');
}

@include shift('>l')
{
  .stamp--limiteded {
    width: convert-length(178px, 'em');
    margin-left: convert-length(-110px, 'em');
  }
}

/* =Makers
 * ========================================================================== */

.avk-makers {
  position: relative;
  padding-top: convert-length(55px, 'em');
}

/* =stamp-imaginedby
 * -------------------------------------------------------------------------- */

.stamp--imaginedby {
  top: 0;
  left: 50%;
  margin-top: convert-length(-35px, 'em');
  margin-left: convert-length(-140px, 'em');
  transform: rotate(10deg);
}

@include shift('>sm')
{
  .avk-markers {
    padding-top: convert-length(30px, 'em');
  }

  .stamp--imaginedby {
    margin-top: convert-length(-10px, 'em');
    margin-left: convert-length(-280px, 'em');
    transform: rotate(0deg);
  }
}
