// =============================================================================
// =VaiKai - Test Stylesheet
// =============================================================================

@import "widgets/object-fit";

[id*="test-objfit"] {
  position: relative;
  overflow: hidden; // clip 'cover' elements

  // visualisation
  border: 2px solid #000;
}