/* =============================================================================
 * =VaiKai - Index stylesheet
 * ========================================================================== */

@import "shift/breakpoint";
@import "config/breakpoints";
@import "config/colors";

/* =Intro
 * ========================================================================== */

// @import "objects/avakai-duo";

#intro
{
  color: $white;
  background-color: $blue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    color: inherit;
  }

  .teaser {
    display: inline-block;
    padding: 15px 20px;
    // background: rgba(white, 0.15); // superman
    background: rgba(black, 0.065); // fart + pirates
    transform: rotate(-3deg);
    white-space: nowrap; // single line on smaller screens
  }

  // responsive height
  .intro:before {
    min-height: 500px;
  }

  @include shift('>s')
  {
    .intro:before {
      min-height: 600px;
    }
  }

  @include shift('>m')
  {
    .intro:before {
      min-height: 780px;
    }
  }

}

#intro.theme-superman
{
  background-color: #9FBAD5;

  @include shift('<s') { background-image: url(../images/more-play/superman-small.jpg); }
  @include shift('>s <m') { background-image: url(../images/more-play/superman-medium.jpg); }
  @include shift('>m') { background-image: url(../images/more-play/superman-large.jpg); }
}

#intro.theme-fart
{
  background-color: #E8E6DA;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.12); // fart + pirates

  @include shift('<s') { background-image: url(../images/more-play/fart-small.jpg); }
  @include shift('>s <l') { background-image: url(../images/more-play/fart-medium.jpg); }
  @include shift('>l') { background-image: url(../images/more-play/fart-large.jpg); }
}

#intro.theme-pirates
{
  text-shadow: 1px 1px 0 rgba(0,0,0,0.12); // fart + pirates
  background-color: #E0D1BE;

  @include shift('<s') { background-image: url(../images/more-play/pirates-small.jpg); }
  @include shift('>s <m') { background-image: url(../images/more-play/pirates-medium.jpg); }
  @include shift('>m') { background-image: url(../images/more-play/pirates-large.jpg); }
}

/* =Pre-order
 * ========================================================================== */

/* =avk-limiteded
 * -------------------------------------------------------------------------- */

@keyframes bg_blink {
  from { background-position: 0 center; }
  to { background-position: 200% center; }
}

.avk-limiteded {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 420px;
  padding: 0 convert-length(40px, 'rem') 0 convert-length(80px, 'rem');
}

.stamp-limiteded {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -13%;

  width: convert-length(100px, 'rem');
  height: convert-length(100px, 'rem');

  background-image: url(../images/limited-edition.svg);
  background-size: 200% auto;
  animation: 1.8s steps(2) 0s infinite bg_blink;
  transform: rotate(-12deg);
}

@include shift('>sm')
{
  .avk-limiteded {
    padding: 0;
  }

  .stamp-limiteded {
    top: -3%;
    left: 70%;
    transform: rotate(12deg);
  }
}

@include shift('>m')
{
  .stamp-limiteded {
    width: convert-length(132px, 'rem');
    height: convert-length(132px, 'rem');
  }
}

@include shift('>l')
{
  .avk-limiteded {
    max-width: 500px;
  }

  .stamp-limiteded {
    top: 50%;
    left: -13%;
    width: convert-length(158px, 'rem');
    height: convert-length(158px, 'rem');
    transform: rotate(-12deg);
  }
}

@include shift('>l')
{
  .stamp-limiteded {
  }
}

/* =Makers
 * ========================================================================== */

.avk-makers {
  position: relative;
  padding-top: convert-length(50px, 'em');
}

/* =stamp-madewithlove
 * -------------------------------------------------------------------------- */

.stamp-madewithlove {
  position: absolute;
  top: 0;
  left: 50%;
  width: convert-length(178px, 'rem');
  height: convert-length(78px, 'rem');
  margin-left: convert-length(-150px, 'rem');

  background-image: url(../images/madewithlove.svg);
  background-size: 100% auto;
}

@include shift('>sm')
{
  .avk-markers {
    padding-top: convert-length(30px, 'rem');
  }

  .stamp-madewithlove {
    margin-left: convert-length(-190px, 'rem');
  }
}
