/* =============================================================================
 * =VaiKai - Index stylesheet
 * ========================================================================== */

@import "aleksi/lengths/convert";
@import "shift/breakpoint";
@import "config/breakpoints";
@import "config/colors";

/* =Intro
 * ========================================================================== */

// @import "objects/avakai-duo";

#intro
{
  color: $white;
  background-color: $blue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-shadow: 0 1px 0 rgba(0,0,0,0.05); // fart + pirates

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    color: inherit;
  }

  .teaser {
    display: inline-block;
    padding: 15px 20px;
    // background: rgba(white, 0.15); // superman
    background: rgba(black, 0.065); // fart + pirates
    transform: rotate(-3deg);
    white-space: nowrap; // single line on smaller screens
  }

  // responsive height
  .intro:before {
    min-height: 500px;
  }

  @include shift('>s')
  {
    .intro:before {
      min-height: 600px;
    }
  }

  @include shift('>m')
  {
    .intro:before {
      min-height: 780px;
    }
  }

}

#intro.theme-superman { background-color: #b7cbdf; }
#intro.theme-fart { background-color: #E8E6DA; }
#intro.theme-pirates { background-color: #E0D1BE; }

@include shift('<s')
{
  #intro.theme-superman { background-image: url(../images/more-play/superman-small.jpg); }
  #intro.theme-fart { background-image: url(../images/more-play/fart-small.jpg); }
  #intro.theme-pirates { background-image: url(../images/more-play/pirates-small.jpg); }
}

@include shift('>s <m')
{
  #intro.theme-superman { background-image: url(../images/more-play/superman-medium.jpg); }
  #intro.theme-fart { background-image: url(../images/more-play/fart-medium.jpg); }
  #intro.theme-pirates { background-image: url(../images/more-play/pirates-medium.jpg); }
}

@include shift('>m')
{
  #intro.theme-superman {
    background-image: url(../images/more-play/superman-large.jpg);
    background-position: 20% center;
  }

  #intro.theme-fart { background-image: url(../images/more-play/fart-large.jpg); }
  #intro.theme-pirates { background-image: url(../images/more-play/pirates-large.jpg); }
}

// .stamp-age4plus {
//   position: absolute;
//   top: 5%;
//   right: 5%;
//   left: auto;

//   width: convert-length(80px, 'rem');
//   height: convert-length(80px, 'rem');
//   background-image: url(../images/age4plus.svg);
//   background-size: 100% auto;
// }

// @include shift('>s')
// {
//   .stamp-age4plus {
//     left: 5%;
//     right: auto;
//   }
// }

// @include shift('>sm')
// {
//   .stamp-age4plus {
//     width: convert-length(120px, 'rem');
//     height: convert-length(120px, 'rem');
//   }
// }

/* =Pre-order
 * ========================================================================== */

/* =avk-limiteded
 * -------------------------------------------------------------------------- */

@keyframes bg_blink {
  from { background-position: 0 center; }
  to { background-position: 200% center; }
}

.avk-limiteded {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 420px;
  padding: 0 convert-length(40px, 'rem') 0 convert-length(80px, 'rem');
}

.stamp-limiteded {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 8%;

  width: convert-length(100px, 'rem');
  height: convert-length(100px, 'rem');

  background-image: url(../images/limited-edition.svg);
  background-size: 200% auto;
  animation: 1.8s steps(2) 0s infinite bg_blink;
  transform: rotate(-12deg);
}

@include shift('>sm')
{
  .avk-limiteded {
    padding: 0;
  }

  .stamp-limiteded {
    top: -3%;
    left: 70%;
    transform: rotate(12deg);
  }
}

@include shift('>m')
{
  .stamp-limiteded {
    width: convert-length(132px, 'rem');
    height: convert-length(132px, 'rem');
  }
}

@include shift('>l')
{
  .avk-limiteded {
    max-width: 500px;
  }

  .stamp-limiteded {
    top: 50%;
    left: -13%;
    width: convert-length(158px, 'rem');
    height: convert-length(158px, 'rem');
    transform: rotate(-12deg);
  }
}

@include shift('>l')
{
  .stamp-limiteded {
  }
}